<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.team.basic.dao.CultureRelTeamaboutHonorMapper">
  <resultMap id="BaseResultMap" type="com.team.basic.entity.CultureRelTeamaboutHonorVo">
    <!--@mbg.generated-->
    <!--@Table t_culture_rel_teamabout_honor-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="team_about_id" jdbcType="INTEGER" property="teamAboutId" />
    <result column="honor_id" jdbcType="INTEGER" property="honorId" />
    <result column="updated_id" jdbcType="VARCHAR" property="updatedId" />
    <result column="updated_by" jdbcType="VARCHAR" property="updatedBy" />
    <result column="updated_time" jdbcType="TIMESTAMP" property="updatedTime" />
    <result column="producer_id" jdbcType="VARCHAR" property="producerId" />
    <result column="created_by" jdbcType="VARCHAR" property="createdBy" />
    <result column="created_time" jdbcType="TIMESTAMP" property="createdTime" />
    <result column="is_deleted" jdbcType="INTEGER" property="isDeleted" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, team_about_id, honor_id, updated_id, updated_by, updated_time, producer_id, created_by, 
    created_time, is_deleted
  </sql>
</mapper>